nav {
    background-color: rgb(145, 224,213);
    width: 100%;
    height: 80px;
    justify-content: flex-end;
    position: sticky;
    top: 0;
}

.active {
    color: white;
    background-color: rgb(27, 180, 160);
}

.link {
    border-radius: .25rem;
    margin: 0px 5px 0px 5px;
}