.banner {
    height: 300px;
    clear: both;
    background: #8FD3E0;
    background: linear-gradient(180deg,#8FD3E0 0%, #ffffff 90%);
    background: -webkit-linear-gradient(180deg,#8FD3E0 0%, #ffffff 90%);
    background: -moz-linear-gradient(180deg,#8FD3E0 0%, #ffffff 90%);
  }
  
  .innerBanner {
    margin: 0px 0px 0px 0px;
    margin: auto;
  }